<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_patio.name %>
</p>

<p>
  <strong>Initial:</strong>
  <%= @type_patio.initial %>
</p>

<%= link_to 'Edit', edit_type_patio_path(@type_patio) %> |
<%= link_to 'Back', type_patios_path %>
