<%= form_for(@type_local) do |f| %>
  <% if @type_local.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type_local.errors.count, "error") %> prohibited this type_local from being saved:</h2>

      <ul>
      <% @type_local.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'nome' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "salvar" , class: 'btn btn-success' %> |
    <%= link_to 'Back', type_locals_path %>
  </div>
<% end %>
