<p id="notice"><%= notice %></p>

<h1>Listing Type Locals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_locals.each do |type_local| %>
      <tr>
        <td><%= type_local.name %></td>
        <td><%= link_to 'Show', type_local %></td>
        <td><%= link_to 'Edit', edit_type_local_path(type_local) %></td>
        <td><%= link_to 'Destroy', type_local, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type local', new_type_local_path %>
