<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'nome' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="row">
    <div class="col-md-3">
        <%= f.label 'gênero' %><br>
        <%= select("post", "gender", Person::GENRE, {include_blank: false}) %>
    </div>
    <div class="col-md-3">
        <%= f.label :rg %><br>
        <%= f.text_field :rg , class: 'form-control' %>
    </div>
    <div class="col-md-3">
        <%= f.label :cpf %><br>
        <%= f.text_field :cpf , class: 'form-control' %>
    </div>
  </div>

  <div class="field">
    <%= f.label 'nascimento' %><br>
    <%= f.date_select :birth_date , class: 'form-control'%>
  </div>
  <div class="row">
      <div class="col-md-3">
        <%= f.label :cel %><br>
        <%= f.text_field :cel, class: 'form-control' %>
      </div>
      <div class="col-md-3">
        <%= f.label :tel1 %><br>
        <%= f.text_field :tel1 , class: 'form-control' %>
      </div>
      <div class="col-md-3">
        <%= f.label :tel2 %><br>
        <%= f.text_field :tel2 , class: 'form-control' %>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label 'bairro' %><br>
      <%= f.collection_select(:district_id, @districts, :id, :name, prompt: false) %>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "salvar", class: 'btn btn-success' %> |
    <%= link_to 'voltar', people_path %>
  </div>
<% end %>
