<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">RELAÇÃO DE PROFESSORES PROCESSO SELETIVO - PAGAMENTO <%= Date::MONTHNAMES[@month.to_i].upcase  %>– <%= @year %></Data></Cell>
      </Row>
      <Row></Row>
      <Row>
        <Cell><Data ss:Type="String">IT</Data></Cell>
        <Cell><Data ss:Type="String">NOME</Data></Cell>
        <Cell><Data ss:Type="String">ESCOLA</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String">MODALIDADE</Data></Cell>
        <Cell><Data ss:Type="String">CR</Data></Cell>
        <Cell><Data ss:Type="String">FAL.</Data></Cell>
        <Cell><Data ss:Type="String">ADM</Data></Cell>
        <Cell><Data ss:Type="String">CANC.</Data></Cell>
        <Cell><Data ss:Type="String">PIS/PASEP/NIS</Data></Cell>
        <Cell><Data ss:Type="String">CPF</Data></Cell>
      </Row>
    <% @frequencies.each do |frequency| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= frequency.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= frequency.person.name %></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"><%= frequency.person.cpf %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

