<p id="notice"><%= notice %></p>

<h1>Frequencias Cadastradas</h1>
<%= link_to 'novo registro', new_frequency_path, class: 'btn btn-primary pull-right' %>


<table class="table table-striped">


<div class="row">
  <div class="col-lg-offset-8 col-lg-4">
    <div class="input-group">
      <input id="edit_search" type="text" class="form-control" maxlength="11" placeholder="Buscar por CPF">
      <span class="input-group-btn">
        <button id="btn_search" class="btn btn-default" type="button">Buscar</button>
      </span>
    </div>
  </div>
</div>

  <thead>
    <tr>
      <th>Pessoa</th>
      <th>Data da frequencia</th>
      <th>Hora de entrada</th>
      <th>Hora de saída</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="table_content">
    <% @frequencies.each do |frequency| %>
      <tr>
        <td><%= frequency.person.try(:name) %></td>
        <td><%= frequency.frequency_date %></td>
        <td><%= frequency.time_input %></td>
        <td><%= frequency.time_output %></td>
        <td><%= link_to 'exibir', frequency %></td>
        <td><%= link_to 'editar', edit_frequency_path(frequency) %></td>
        <td><%#= link_to 'deletar', frequency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

