<%= form_for(@instituation) do |f| %>
  <% if @instituation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instituation.errors.count, "error") %> prohibited this instituation from being saved:</h2>

      <ul>
      <% @instituation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'nome' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "salvar" , class: 'btn btn-success' %> |
    <%= link_to 'voltar', instituations_path %>
  </div>
<% end %>
