<p id="notice"><%= notice %></p>

<h1>Listing Instituations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instituations.each do |instituation| %>
      <tr>
        <td><%= instituation.name %></td>
        <td><%= link_to 'Show', instituation %></td>
        <td><%= link_to 'Edit', edit_instituation_path(instituation) %></td>
        <td><%= link_to 'Destroy', instituation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instituation', new_instituation_path %>
