<%= form_for(@administrative_region) do |f| %>
  <% if @administrative_region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administrative_region.errors.count, "error") %> prohibited this administrative_region from being saved:</h2>

      <ul>
      <% @administrative_region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
      <%= f.label 'nome' %><br>
      <%= f.text_field :name , class: 'form-control' %>
    </div>
    <div class="iniciais">
      <%= f.label :initials %><br>
      <%= f.text_field :initials, class: 'form-control' %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "salvar", class: 'btn btn-success' %>
      <%= link_to 'voltar', administrative_regions_path %>
    </div>

  
<% end %>
