<p id="notice"><%= notice %></p>

<h1>Listing Administrative Regions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Initials</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administrative_regions.each do |administrative_region| %>
      <tr>
        <td><%= administrative_region.name %></td>
        <td><%= administrative_region.initials %></td>
        <td><%= link_to 'Show', administrative_region %></td>
        <td><%= link_to 'Edit', edit_administrative_region_path(administrative_region) %></td>
        <td><%= link_to 'Destroy', administrative_region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Administrative region', new_administrative_region_path %>
