<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @administrative_region.name %>
</p>

<p>
  <strong>Initials:</strong>
  <%= @administrative_region.initials %>
</p>

<%= link_to 'Edit', edit_administrative_region_path(@administrative_region) %> |
<%= link_to 'Back', administrative_regions_path %>
