<p id="notice"><%= notice %></p>

<h1>Listing Type Bonds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbreviation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_bonds.each do |type_bond| %>
      <tr>
        <td><%= type_bond.name %></td>
        <td><%= type_bond.abbreviation %></td>
        <td><%= link_to 'Show', type_bond %></td>
        <td><%= link_to 'Edit', edit_type_bond_path(type_bond) %></td>
        <td><%= link_to 'Destroy', type_bond, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type bond', new_type_bond_path %>
