<%= form_for(@bond) do |f| %>
  <% if @bond.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bond.errors.count, "error") %> prohibited this bond from being saved:</h2>

      <ul>
      <% @bond.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'descrição' %><br>
    <%= f.text_field :description,  class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label 'data de admissão' %><br>
    <%=  f.date_select :dt_admission,  class: 'form-control' %>
  </div>
  
  <div class="field">
    <%= f.label 'observação' %><br>
    <%= f.text_area :obs,  class: 'form-control' %>
  </div>
  <div class='row'>
      <div class="col-md-4">
        <%= f.label 'pessoa' %><br>
        <%= f.number_field :person_id,  class: 'form-control' %>
      </div>
      <div class="col-md-4">
        <%= f.label 'função' %><br>
        <%= f.number_field :role_id,  class: 'form-control' %>
      </div>
      <div class="col-md-4">
        <%= f.label 'carga horária' %><br>
        <%= f.number_field :workload,  class: 'form-control' %>
      </div>
  </div>    
  <div class="row">
      <div class="col-md-4"> 
        <%= f.label 'tipo de vínculo'%><br>
        <%= f.number_field :type_bond_id,  class: 'form-control' %>
      </div>
     <div class="col-md-4"> 
        <%= f.label 'instituição' %><br>
        <%= f.number_field :instituation_id,  class: 'form-control' %>
     </div>
     <div class="col-md-4"> 
        <%= f.label 'situação' %><br>
        <%= f.number_field :situation_bond_id,  class: 'form-control' %>
      </div>
  <div>  
  </br></br></br>  
    <div class="actions col-md-4"  style="margin-top: 20px;">
      <%= f.submit "salvar", class: 'btn btn-success' %> |
      <%= link_to 'voltar', bonds_path %>
    </div>
<% end %>
