<p id="notice"><%= notice %></p>

<h1>Vínculos</h1>

<%= link_to 'novo registro', new_bond_path,  class: 'btn btn-sm btn-primary pull-right' %>
<table class=" table table-striped">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Pessoa</th>
      <th>Papel</th>
      <th>Tipo</th>
      <th>Instituição</th>
      <th>Situação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bonds.each do |bond| %>
      <tr>
        <td><%= bond.description %></td>
        <td><%= bond.person_id %></td>
        <td><%= bond.role_id %></td>
        <td><%= bond.type_bond_id %></td>
        <td><%= bond.instituation_id %></td>
        <td><%= bond.situation_bond_id %></td>
        <td>
        <div class="btn-group pull-right">
          <%#= link_to 'Show', bond %>
          <%= link_to 'editar', edit_bond_path(bond) ,  class: 'btn btn-xs btn-warning' %>
          <%= link_to 'deletar', bond, method: :delete, data: { confirm: 'Quer mesmo deletar?' },  class: 'btn btn-xs btn-warning'  %>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

